@use "./variables.scss" as *;

.footer{


    a {
        color: $notActive;
        path {
            stroke: $notActive;
        }
    }
    a.active {
        color: $active;
        path{
            stroke: $active;
        }
    }
}