.motion__wrapper {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
    position: relative;
}

.motion__logo {
    position: absolute;
    top: 40%;
}

.motion__h1 {
    position: absolute;
    top: 56.7%;
}