@use "main";
@use "header";
@use "footer";
@use "motion";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
figcaption {
    font-family: "Playfair Display", serif;
}

p {
    font-family: "Open sans", sans-serif;
}

a {
    text-decoration: none;
}

.filler {
    min-height: 10rem;
    z-index: -1;
}